.logo:hover {
    opacity: 0.7;
    cursor: pointer;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 702px; /* Set maximum width */
    height: 0;
    padding-bottom: 66.67%; /* 3:2 aspect ratio (2 / 3 * 100) */
    overflow: hidden;
}

.vehicle-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
}
